.elements__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  max-width: 22px;
  cursor: pointer;
}

.elements__icon:hover {
  opacity: 0.8;
  transition: 0.4s opacity;

}
